# Vercel Blob Storage
# Получите токен из: https://vercel.com/dashboard -> Your Project -> Settings -> Environment Variables
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_XXXXXXXXXXXXXXXXXX

# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Email (опционально для разработки)
# RESEND_API_KEY=re_XXXXXXXXXXXX
